doc

*.o
*.a
*~

tools/PrxEncrypter/PrxEncrypter
tools/bin2c
tools/bin2o
tools/bin2s
tools/mksfo
tools/mksfoex
tools/pack-pbp
tools/psp-build-exports
tools/psp-config
tools/psp-fixup-imports
tools/psp-prxgen
tools/unpack-pbp

Makefile.in
Makefile
.deps/
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/base/linkfile.prx
stamp-h1

.clang-format
compile_flags.txt
